<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tareas</title>
</head>
    <body>
        
        <div id="app">
            <h1>Lista de Tareas</h1>
            <!-- funcion para agregar una nueva tarea-->
            <input v-model="nuevaTarea" @keyup.enter="agregarTarea" placeholder="Nueva tarea" />
            <!-- clase de lista de tarea-->
            <ul class="task-list">
                <li v-for="(tarea, index) in tareas" :key="index">
                    {{ tarea }}
                    <button @click="removetarea(index)">Eliminar</button>
                </li>
            </ul>
        </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="app.js"> </script>
</body>
</html>